<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.mappers.courseReviewMapper">

	<insert id="createReview">
		insert into cour_review (rev_no, mem_id, cour_no, rev_content, rev_score, rev_time)
		values (cour_rev_seq.nextval, #{mem_id}, #{cour_no}, #{rev_content}, #{rev_score}, sysdate)
	</insert>
	
	<select id="listAll" resultType="Cour_reviewVO">
		select *			
			from (select rownum rnum, a.*			
				from (select * from cour_review
				where cour_no = #{cour_no}
				order by rev_no desc) a)			
		where rnum &gt;= #{cri.startRow} and rnum &lt;= #{cri.endRow}
	</select>
	
	<select id="countPaging" resultType="int">
		select count(*) from cour_review
		where cour_no = #{cour_no}
	</select>
	
	<update id="update">
		update cour_review set
		rev_content = #{rev_content},
		rev_score = #{rev_score},
		rev_time = sysdate
		where rev_no = #{rev_no}
	</update>
	
	<delete id="delete">
		delete from cour_review
		where rev_no = #{rev_no}
	</delete>
	
	<delete id="delete_cour_no">
		delete from cour_review
    	where cour_no = #{cour_no}
	</delete>
	
	
	<select id="cour_Score" resultType="int">
		select sum(rev_score) from cour_review
		where cour_no = #{cour_no}
	</select>
	
	<select id="read" resultType="Cour_reviewVO">
		select * from cour_review 
		where rev_no = #{rev_no}
	</select>
	
	<select id="getMemImg" resultType="String">
		select mem_img from member
		where mem_id = #{mem_id}
	</select>
	
</mapper>